<!-- Morris Charts CSS -->
<link href="/vendor/morrisjs/morris.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
          			<img id="topLeftLogo" src="/img/wplogo.png"  alt="Water Logger Pro">
				</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{user.username}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>-->
                        <li><a href="/preferences"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    	<!--Home-->
                        <li>
                            <a href="/"><i class="fa fa-home fa-fw"></i> Home</a>
                        </li>



                        <!--Add Water-->
                        <li>
                            <a href="/addWater"><i class="fa fa-plus-square fa-fw"></i> Add Water</a>
                        </li>

                        <!--Add Custom Bottles-->
                        <li>
                            <a href="/customBottle"><i class="fa fa-cloud-upload fa-fw"></i> Add Custom Bottle</a>
                        </li>

						<!--Preferences-->
                        <li>
                            <a href="/preferences"><i class="fa fa-tasks fa-fw"></i> Preferences</a>
                        </li>

                        <!--History-->
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> History<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/history">List</a>
                                </li>
                                <li>
                                    <a href="/history/graph">Graph</a>
                                </li>
                            </ul>
                        </li>  
                
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Water</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			
			{{#if areBottles}}
			<div class="panel panel-default">
                        <div class="panel-heading">
                            Custom Bottles
                        </div>
                        <div class="myClass">
    					    <div class="row">

    						    	{{#each user.customBottles}}
    						    	
    						        <div class="span5" >
    						        	<form method="POST" action="">
    						        	<input type="hidden" name="container" value={{container}}>
    						        	<input type="hidden" name="quantity" value={{quantity}}>
    						        	<input type="hidden" name="unit" value={{unit}}>
    						        	Container: <b class="container">{{container}}</b>
    						        	<br>
    						        	Amount: <b class="amount">{{quantity}} {{unit}}</b> 
    						        	<br><br>
    						        	<input type="submit" value="Add">
    						        	</form>
    						        </div>
    							    
    						        {{/each}}

    					    </div>
                        </div>
			</div>
			{{/if}}
            <!-- /.row -->
            <div class="row">
            	<div class="col-lg-12">
				<form method="POST" action="">
					Container: <input type="text" name="container" class="longer" style="margin-bottom: 1em">
					<br>
					Quantity: <input type="number" name="quantity" min="0" onkeydown="javascript: return (event.keyCode == 69 || event.keyCode == 189) ? false : true" /> &nbsp;
					<input type="radio" name="unit" value="oz" checked="checked"> oz &nbsp;
					<input type="radio" name="unit" value="mL"> mL &nbsp;
					<input type="radio" name="unit" value="L"> L &nbsp;
					<input type="submit" value="Add">
				</form>
				</div>
			</div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js"></script>


