<div id="sidebar">
    <!-- Hidden Input to Store User's username -->
    <input type="hidden" name='username' id="username" value='{{myUser.slug}}'>

    <div class="filters">
      <div class="createBtn">
        <a href=""><u>+ Create New Property</u></a>
      </div>
      <!-- Search bar -->
      <form>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-primary searchBtn" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- ./searchbar -->
      <div class="sorters">
        <div class="sort-name">Property Name &nbsp;
            <span id="propSort"><i class="fa fa-sort"></i></span>
        </div>

        <div id="fields">
            &nbsp;
            <select id="soflow">
            {{#each fields}}
            <!-- Store the type and then slug -->
            <option value="{{this.type}}" id="{{this.slug}}_mySlug">{{this.name}}</option>
            {{/each}}
            </select>
            &nbsp;
            <span id="fieldSort"><i class="fa fa-sort" ></i></span>
        </div>
      </div>

    </div>


    <div class="properties" id="sidebarProperties">
        
        {{#each myUser.properties}}
        <div class="property" id="{{slug}}_{{index}}">
          <span class="prop-name">{{name}}</span>
          <span class="prop-field">{{manager}}</span>
        </div>
        {{/each}}
    </div>
</div>

<div id="mainWrap">
  <div id="content" class="contentRead">
      <h3>Welcome {{myUser.username}}</h3>
      <p> Features include using the create new property button, and clicking on properties.</p>
  </div>
</div>