<div id="sidebar">
    <!-- Hidden Input to Store User's username -->
    <input type="hidden" name='username' id="username" value='{{myUser.slug}}'>

    <div class="filters">
      <div class="createBtn">
        <a href=""><u>+ Create New Property</u></a>
      </div>
      <!-- Search bar -->
      <form>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-primary searchBtn" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- ./searchbar -->
      <div class="sorters">
        <div class="sort-name">Property Name &nbsp;
            <span id="propSort"><i class="fa fa-sort"></i></span>
        </div>

        <div id="fields">
            &nbsp;
            <select id="soflow">
            {{#each fields}}
            <!-- Store the type and then slug -->
            <option value="{{this.type}}" id="{{this.slug}}_mySlug">{{this.name}}</option>
            {{/each}}
            </select>
            &nbsp;
            <span id="fieldSort"><i class="fa fa-sort" ></i></span>
        </div>
      </div>

    </div>


    <div class="properties" id="sidebarProperties">
        
        {{#each myUser.properties}}
        <div class="property" id="{{slug}}_{{index}}">
          <span class="prop-name">{{name}}</span>
          <span class="prop-field">{{manager}}</span>
        </div>
        {{/each}}
    </div>
</div>

<div id="mainWrap">
  <div id="content" class="contentRead">
    {{#if showProp}}
    <div id="editBtn">
      Edit &nbsp;
      <i class="fa fa-edit"></i>
      <input type='hidden' id='hiddenVal' value='{{myUser.properties.0.slug}}'>
    </div>
      <!-- Div to house property Photo -->
    <div id="property-photo" class="edit">
      <img src="http://rororealestate.com{{myUser.properties.0.propertyImage}}" id="propImg" class="propImg">

    </div>  
    <h3 id="propTitle">{{myUser.properties.0.name}}</h3>
    <div id="infoRead">
        <div class="valuesRead" id="propAddrRead">
          <div class="headerRead">Address: </div>
          <div class="vals">
            <div>{{myUser.properties.0.address.street}}</div>
            <div>{{myUser.properties.0.address.city}}, {{myUser.properties.0.address.st}} {{myUser.properties.0.address.zip}}</div>
          </div>
        </div>

        <div class="valuesRead" id="ownerRead">
          <div class="headerRead">Owner: </div>
          <div class="vals">
            <div>{{myUser.properties.0.owner.name}}</div>
          </div>
        </div>

        <div class="valuesRead" id="ownerAddrRead">
          <div class="headerRead">
            <div>Owner </div>
            <div>Address:</div>
          </div>
          <div class="vals">
            <div>{{myUser.properties.0.owner.address.street}}</div>
            <div>{{myUser.properties.0.owner.address.city}}, {{myUser.properties.0.owner.address.st}} {{myUser.properties.0.owner.address.zip}}</div>
          </div>
        </div>

        <div class="valuesRead" id="ownerRead">
          <div class="headerRead">Owner Contact: </div>
          <div class="vals">
            <div>{{myUser.properties.0.contact.salutation}} 
                 {{myUser.properties.0.contact.first_name}} 
                 {{myUser.properties.0.contact.last_name}}
            </div>
          </div>
        </div>

        <div class="valuesRead" id="propTypeRead">
          <div class="headerRead">Property Type: </div>
          <div class="vals">
            <div>
            {{myUser.properties.0.type}} 
            </div>
          </div>
        </div>     

        <div class="valuesRead" id="propManRead">
          <div class="headerRead">Property Manager: </div>
          <div class="vals">
            <div>{{myUser.properties.0.manager}}</div>
          </div>
        </div>   

        <div class="valuesRead" id="propAccRead">
          <div class="headerRead">Property Accountant: </div>
          <div class="vals">
            <div>{{myUser.properties.0.accountant}}</div>
          </div>
        </div>   

        <div class="valuesRead" id="propManRead">
          <div class="headerRead">Occupancy: </div>
          <div class="vals">
            <div></div>
          </div>
        </div>  
    {{/if}}

    {{#if createProp}}
      <form id="newPropForm">
        <div class="form-group">
          <input type="text" class="form-control" id="propertyNameInput" placeholder="Enter Property Name" name="prop-name">
        </div>

        <div id="form-divider">
          <div id="form-headers">
              <label id="addressHeader">Address:</label><label id="ownerHeader">Owner:</label>
              <span>Owner</span>
              <label id="ownerAddress">Address:</label>
              <span>Owner</span>
              <label id="ownerContact">Contact:</label>
              <label id="propertyManager">Property Manager:</label>
              <label id="propertyAccountant">Property Accountant:</label>
          </div> 

          <div id="form-inputs">
              <input type="hidden" name='username' value='{{myUser.username}}'>
              <input type="text" class="form-control" id="streetInput" placeholder="Enter Street" name="prop-street">
              <input type="text" class="form-control" id="cityInput" placeholder="Enter City" name="prop-city">
              <input type="text" class="form-control" id="stateInput" placeholder="Enter State" name="prop-state">
              <input type="text" class="form-control" id="zipInput" placeholder="Enter Zip Code" name="prop-zip">
              <br>
              <input type="text" class="form-control" id="landlordInput" placeholder="Enter Landlord" name="landlord-name">
              <input type="text" class="form-control" id="landlordStateInput" placeholder="Enter Landlord State of Incorporation" name="landlord-state">
              <br>
              <input type="text" class="form-control" id="ownerStreetInput" placeholder="Enter Street" name="owner-street">
              <input type="text" class="form-control" id="ownerCityInput" placeholder="Enter City" name="owner-city">
              <input type="text" class="form-control" id="ownerStateInput" placeholder="Enter State" name="owner-state">
              <input type="text" class="form-control" id="ownerZipInput" placeholder="Enter Zip Code" name="owner-zip">  
              <br>
              <div id="radioSalutation">Select Salutation:</div> &nbsp;
              <input type="radio" name="salutation" value="Ms."> Ms. &nbsp;
              <input type="radio" name="salutation" value="Mr."> Mr. &nbsp;
              <input type="radio" name="salutation" value="Dr."> Dr. &nbsp;
              <input type="text" class="form-control" id="contactFirst" placeholder="Enter First Name" name="contact-first">
              <input type="text" class="form-control" id="contactLast" placeholder="Enter Last Name" name="contact-last">
              <input type="text" class="form-control" id="contactTitle" placeholder="Enter Title" name="contact-title">  
              <br>
              <select class="form-control" id="propManager" name='prop-manager'>
                <option>John Doe</option>
                <option>Sally Mae</option>
                <option>Robby Robertson</option>
              </select>
              <br>
              <select class="form-control" id="propAccountant" name="prop-accountant">
                <option>John Doe</option>
                <option>Sally Mae</option>
                <option>Robby Robertson</option>
              </select>  
              <br> 
              <div id="bottomOfContent"> 
                  <button id="sendPropBtn" class="btn btn-primary">Create Property</button>
              </div>
              <br>

          </div>
        </div>

   
      </form>
      <!-- Div to house property Photo -->
      <div id="property-photo" class="clickable">
        Add Property Photo
        <input type="file" id="getFile" accept="image/*" name="img-file"/>
        <i class="fa fa-search" id="searchIcon"></i>
      </div>    

    {{/if}}
  </div>
</div>